body {
    background-color: #dedede;
}

header {
    max-width: 1000px;
    margin: 20px auto;
    display: block;
    float: left;
}
.headerlogo {
    margin: 20px auto;
}
.headertext {
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}
.headertext h1 {
    font-weight: 900;
    font-size: 60px;
}
.headertext p {
    font-weight: 100;
    font-size: 18px;
    font-style: italic;
}

nav {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 20px;
    float: left;
}
.navbuttons {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #292929;
    font-size: 20px;
}

.navbuttons a {
    display: block;
    text-align: center;
}

p {
    color: #373535;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
}