body {
    background-color: #dedede;
}

/*The header, with logo and text*/
header {
    max-width: 1000px;
    margin: 20px auto;
    height: auto;
}
.headerlogo {
    padding: 20px;
    float: left;
    max-width: 100px;
    height: auto;
}
.headertext {
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}
.headertext h1 {
    font-weight: 900;
    font-size: 80px;
    margin: auto;
    padding: 20px;
}
.headertext p {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    margin: auto;
    padding: 20px;
}

/*The navigation bar*/
nav {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    display: block;
    top: 20px;
    max-width: 1000px;
    margin: 20px auto;
    height: auto;
    background-color: #c8edff;
    border-radius: 4px;
}
.navbuttons {
    font-family: 'Montserrat', sans-serif;
    color: #292929;
    font-size: 18px;
}
.navbuttons li {
    display: inline-block;
    list-style-type: none;
    width: auto;
}
.navbuttons a {
    text-align: center;
    padding: 10px;
}

/*The navigation links in the bar*/
.navbuttons a:link {
    color: #292929;
    text-decoration: none;
}
.navbuttons a:hover {
    color: #292929;
    background-color: #8cc8e5;
    border-radius: 8px;
    text-decoration: none;
}
.navbuttons a:visited {
    color: #292929;
    text-decoration: none;
}
.navbuttons a:active {
    color: #292929;
    background-color: #559dc1;
    text-decoration: none;
    border-radius: 8px;
}

/*The content of the page itself*/
.content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
p {
    color: #373535;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
}